.contenedor-stickers{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 150px;
}
.form{
    display: flex;
    flex-direction: column;
    
}
.sticker {
    margin: 10px;
    display: inline-block;
    text-align: center;
}

img {
    width: 155px;
    height: auto;
}

input {
    margin-top: 5px;
}

button {
    margin-top: 70px;
    margin-left: 590px;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}